*.o
*.img
*.d
*.swp
*.pyc
kernel.bin
bootable.iso

testing_area
misc/create_initrd*
*.dSYM
isofiles/boot/initrd.img
tags

serial-output
misc/initrd.img

initrd/

toolchain/distfiles
toolchain/build-*
toolchain/gcc-4.*
toolchain/newlib-1.*
toolchain/binutils-2.*
src/userspace/misc_test/
src/userspace/daemon
src/userspace/env_test
src/userspace/execve
src/userspace/execve_child
src/userspace/fenv
src/userspace/fork2
src/userspace/waitpid
